.devices-repair-menu {
  padding-top: 24px;
  &__title {
    &-text {
    }
  }
  &__container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 16px 0 0 16px;
  }
  &__box,
  .swiper {
    &--grey-ends {
      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 12px;
        width: 50px;
        height: 170px;
        z-index: 100;
        pointer-events: none;
      }
      &::before {
        left: 0;
        background: linear-gradient(
          to right,
          rgba(248, 248, 248, 1),
          rgba(248, 248, 248, 0.7),
          rgba(248, 248, 248, 0.3),
          rgba(248, 248, 248, 0)
        );
      }
      &::after {
        right: 0;
        background: linear-gradient(
          to left,
          rgba(248, 248, 248, 1),
          rgba(248, 248, 248, 0.7),
          rgba(248, 248, 248, 0.3),
          rgba(248, 248, 248, 0)
        );
      }
    }
  }
  &__list,
  .swiper-wrapper {
    padding-bottom: 32px;
  }
  &__item,
  .swiper-slide {
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding: 16px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 6px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  &__button {
    margin-top: auto;
  }
  &__pagination,
  .swiper-pagination {
    --swiper-pagination-top: 175px;
    height: 20px;

    &-bullet {
      @include pagination-bullets;
    }
  }
  &__read-more-button {
    &--hidden-small {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .devices-repair-menu {
    padding-top: 32px;
    &__title {
      &-text {
      }
    }
    &__container {
      padding: 24px;
      padding-bottom: 0;
    }
    &__box,
    .swiper {
      &--short {
        overflow: hidden;
        height: 160px;
      }
      &--grey-ends {
        &::before,
        &::after {
          display: none;
        }
        &::before {
        }
        &::after {
        }
      }
    }
    &__list,
    .swiper-wrapper {
      padding-bottom: 0;
      column-gap: 24px;
      row-gap: 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item,
    .swiper-slide {
    }
    &__button {
    }
    &__pagination,
    .swiper-pagination {
      &-bullet {
      }
    }
    &__read-more-button {
      margin-top: 24px;
      &--hidden-small {
        display: flex;
      }
    }
  }
}

@media (min-width: 1440px) {
  .devices-repair-menu {
    &__title {
      &-text {
      }
    }
    &__container {
    }
    &__box,
    .swiper {
      &--grey-ends {
        &::before,
        &::after {
        }
        &::before {
        }
        &::after {
        }
      }
    }
    &__list,
    .swiper-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
    &__item,
    .swiper-slide {
    }
    &__button {
    }
    &__pagination,
    .swiper-pagination {
      &-bullet {
      }
    }
    &__read-more-button {
      &--hidden-small {
      }
    }
  }
}
