.services-menu {
  padding-top: 24px;

  &__title {
    margin-bottom: 24px;

    &--hidden-large {
    }
    &--blue-line::before {
    }
    &-text {
    }
  }

  &__box {
    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0rem;
      width: 3.75rem;
      height: 100%;
      z-index: 100;
      pointer-events: none;
      background: linear-gradient(
        to right,
        rgba(248, 248, 248, 1),
        rgba(248, 248, 248, 0.7),
        rgba(248, 248, 248, 0.3),
        rgba(248, 248, 248, 0)
      );
    }
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: 0;
      width: 3.75rem;
      height: 100%;
      z-index: 100;
      pointer-events: none;
      background: linear-gradient(
        to left,
        rgba(248, 248, 248, 1),
        rgba(248, 248, 248, 0.7),
        rgba(248, 248, 248, 0.3),
        rgba(248, 248, 248, 0)
      );
    }
  }
  &__list {
    padding-left: 16px;
  }

  &__item,
  &__item.swiper-slide {
    border: 2px solid transparent;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      filter: opacity(0.8);
      border: 2px solid #b8ffecb8;
    }
  }
  &__item.swiper-slide-active {
    text-align: center;
    background-color: white;
    border: 2px solid $light-blue;
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    transition: all 0.2s;
  }
}

@media (min-width: 768px) {
  .services-menu {
    &__title {
      margin-bottom: 32px;
      &--hidden-large {
      }
      &--blue-line::before {
      }
      &-text {
      }
    }
    &__box {
      &::before {
      }
      &::after {
      }
    }
    &__list {
      padding-left: 24px;
    }
    &__item,
    &__item,
    &__item.swiper-slide {
      &:hover {
      }
    }
    &__item.swiper-slide-active {
    }
    &__link {
    }
  }
}

@media (min-width: 1440px) {
  .services-menu {
    padding-top: 10px;
    &__title {
      margin-bottom: 0;
      &--hidden-large {
        display: none;
      }
      &--blue-line::before {
      }
      &-text {
      }
    }
    &__box {
      &::before,
      &::after {
        display: none;
      }
    }
    &__list {
      padding-left: 34px;
      flex-wrap: wrap;
    }
    &__item,
    .swiper-slide {
      min-width: 210px;
      max-width: 220px;
      &:hover {
      }
    }
    &__item.swiper-slide-active {
    }
    &__link {
    }
  }
}
