.header__logo {
  &-image {
  }

  &--grey-line::before {
  }
}
@media (min-width: 768px) {
  .header__logo {
    &--grey-line::before {
      content: "";
      display: block;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      margin-right: 20px;
    }
  }
}
@media (min-width: 1440px) {
  .header__logo {
    &--hidden-large {
      display: none;
    }
  }
}
